%table{:border => 1}
  %tr
    %th Quantity
    %th Product
    %th Price
    %th Total
  -@cart.orders.each do |order|
    %tr
      %td= order.quantity
      %td= order.product_name
      %td= as_currency(order.product_price)
      %td= as_currency(order.product_price * order.quantity)
  %tr
    %td
    %td
    %td
    %td= as_currency(@cart.get_total)
