<!DOCTYPE html>
<html>
<head>
  <title>Dummy</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body>
    <div class="user-nav">
      <% if current_user %>
        Welcome <%= current_user.name %>! |
        <%= link_to "Sign Out", logout_path %> |
        <%= link_to "Purchase History", purchases_path %> |
      <% else %>
        <%= link_to "Sign in or sign up", login_path %> |
      <% end %>
      <%= link_to "Cart ($#{current_user_cart.get_total})",
        cart_path %>
    </div>
    <br />
    <%= render_flash_messages %>

<%= yield %>

</body>
</html>
