%h1 Checkout
= form_for(@purchase, url: @url.checkout_index_path(@stem)) do |f|
  %table{:border => 1}
    %tr
      %td Amount
      %td= as_currency(@purchase.amount)
    %tr
      %td Shipping Info
      %td= f.text_field :shipping_info
    %tr
      %td Billing Info
      %td= f.text_field :billing_info
    %tr
      %td I Agree To the TOS
      %td= check_box_tag 'tos', 'yes', false, :class => 'accept_tos'
    %tr
      %td
      %td= submit_tag 'Purchase'
