-if @purchase.completed
  %h1 Order Complete
  %p<
    == Return to your #{link_to 'cart', @url.cart_path} or #{link_to 'continue', @url.products_path} shopping
  %br
  %br
  %h1 Order Overview
  %table{:border => 1}
    %tr
      %td Billing Info
      %td= @purchase.billing_info
    %tr
      %td Shipping Info
      %td= @purchase.shipping_info
    %tr
      %td Total
      %td= as_currency(@purchase.amount)
  %br
  %br
  = render_cell 'hbird_ecommerce/cart', :show, cart: @cart
-else
  %h1 Review Order
  = render_cell 'hbird_ecommerce/cart', :show, cart: @cart
  %br
  %br
    = render_cell 'stripe_helper/stripe', :show,
        amount: @purchase.amount.round(2) * 100,
        desc:   Date.today,
        pk:     @pk,
        stem:   @stem,
        store:  'The Trail Shop',
        token:  @purchase.id
    :javascript
      $(function(){
        $('.stripe-button-el').addClass('right');
      });
