<!DOCTYPE html>
<html>
  <head>
    <title>Ecommerce</title>
    <%= stylesheet_link_tag    "ecommerce/application", :media => "all" %>
    <%= javascript_include_tag "ecommerce/application" %>
    <%= csrf_meta_tags %>
  </head>
  <body>
    <div class="user-nav">
      <% if current_user %>
        Welcome <%= current_user.name %>! |
        <%= link_to "Sign Out", logout_path %> |
        <%= link_to "Purchase History", purchases_path %> |
      <% else %>
        <%= link_to "Sign in or sign up", login_path %> |
      <% end %>
      <%= link_to "Cart ($#{current_user_cart.get_total})",
        cart_path(current_user_cart) %>
        <% if locomotive_user? %>
          | <%= link_to 'Push Orders', push_orders_path %>
        <% end %>
    </div>
    <br />
    <%= render_flash_messages %>

    <%= yield %>
  </body>
</html>
