-if @purchase.completed
  %h3 Order Complete
  %p<
    == Return to your #{link_to 'cart', @url.cart_path} or #{link_to 'continue', @url.products_path} shopping
  %br
  %br
  %h3 Order Overview
  %table{:border => 1}
    %tr
      %td Billing Info
      %td= @purchase.billing_info
    %tr
      %td Shipping Info
      %td= @purchase.shipping_info
    %tr
      %td Total
      %td= "$" + @purchase.amount.round(2).to_s
  %br
  %br
  = render_cell 'ecommerce/cart', :show, cart: @cart
-else
  %h3 Review Order
  = render_cell 'ecommerce/cart', :show, cart: @cart
  %br
  %br
    = render_cell 'stripe_helper/stripe', :show,
        amount: @purchase.amount.round(2) * 100,
        desc:   'Test',
        pk:     'pk_test_wx56SSu3dclTN60p9rEGcM7n',
        stem:   @stem,
        store:  'The Trail Shop',
        token:  @purchase.id
