<table border="1">
  <thead>
    <th>Sku</th>
    <th>Quantity</th>
    <th>Description</th>
    <th>Price</th>
    <th>Picture</th>
    <th>Action</th>
  </thead>

  <tbody>
    <% @items.each do |item| %>
      <tr>
        <td><%= item.sku %></td>
        <td><%= item.quantity %></td>
        <td><%= item.description %></td>
        <td><%= item.price %></td>
        <td><%= item.picture %></td>
        <td><%= button_to 'Add to Cart', add_to_cart_path(item.id),
          id: 'addToCartButton', method: :post %></td>
      </tr>
    <% end %>
  </tbody>
</table>
