%h1 Cart
-if @cart.orders.count > 0
  %table{:border => 1, class: 'cart'}
    %tr
      %th
      %th Quantity
      %th Product
      %th Price
      %th Total
    = form_tag @url.cart_update_path(@stem, @cart), :method => :put do |f|
      -@cart.orders.each do |order|
        %tr
          %td{class: 'error'}
            -if order.out_of_stock?
              Insufficient stock
          = hidden_field_tag "order_ids[]", order.id
          %td{class: 'quantity'}
            = text_field_tag "quantity_ids[]", order.quantity, :size => 5 
          %td{class: 'product'}= link_to order.product_name, @url.product_path(order.product)
          %td{class: 'price'}= as_currency(order.product_price)
          %td{class: 'total'}= as_currency(order.product_price * order.quantity)
          %td{class: 'action'}= link_to 'Remove',
            @url.remove_from_cart_path(@stem, order.product.id),
            :method => :delete
      %tr
        %td
        %td
        %td
        %td= as_currency(@cart.get_total)
        %td= submit_tag 'Update', class: 'update'
  = button_to 'Checkout', @url.new_checkout_path, :method => :get
-else
  We're sorry, your cart is currently empty.
  %br
  %br
  You can add products from the 
  =link_to 'Products', @url.products_path 
  page
