%h1 Products
= paginate @products
%table{:border => 1, class: 'products'}
  %tr 
    %th Product
    %th Price
    %th Action
  -@products.each do |p|
    %tr
      -if p.thumbnail && !p.thumbnail.empty?
        %td{class: 'thumbnail'}= image_tag(p.thumbnail)
      -elsif p.picture && !p.picture.empty?
        %td{class: 'thumbnail'}= image_tag(p.picture)
      -else
        %td{class: 'thumbnail'}
      %td{class: 'product'}= link_to p.description, @url.product_path(p)
      %td{class: 'price'}
        -if p.price
          = as_currency(p.price)
      %td{class: 'action'}
        = button_to 'Add to Cart', @url.add_to_cart_path(@stem, p),
          :id => "addToCartButton", :method => :post
= paginate @products
