-if @product
  %h1= @product.description
  %div{class: 'product-container'}
    .product-info
      %table
        - %w(sku quantity price category colors gender group materials size upc vendor dcs).each do |field|
          -if @product.respond_to?(field.to_sym) && @product.send(field.to_sym)
            -if @product.send(field.to_sym).respond_to?(:empty?) && !@product.send(field.to_sym).empty? || !@product.send(field.to_sym).respond_to?(:empty?)
              %tr
                %td= field.titleize
                -if field == "price"
                  %td= as_currency(@product.send(field.to_sym))
                -else
                  %td= @product.send(field.to_sym)
    .product-image
      -if @product.picture && !@product.picture.empty?
        %img{src: @product.picture}
      -elsif @product.photos && @product.photos.count > 0
        %img{src: @product.photos.first}
    .clear
    .add_to_cart
      = button_to 'Add to Cart', @url.add_to_cart_path(@stem, @product),
        :id => "addToCartButton", :method => :post
-else
  Product not found.




